body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.link-button{
    background-color: rgba(255, 68, 0, 0.911);
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
}
section{
    display: flex;
}
.shapes{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
   
}

.half-width{
    width: 50%;
    padding: 50px;
}
.half-width img{
    width: 50%;
    
}
.recipe{
    text-align: center;
}
.recipe{
    width: 700px;
    margin: 0 auto;
}


.op-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.op {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.10s;
    width: 18%;
    padding: 10px;
    margin: 30px 10px;
    border-radius: 15px;
   
  }
  
  
  .container {
    padding: 2px 16px;
  }

    



